---
---

/* NOTE: example iframes do not include reset.css */

body {
  margin: 0;
  padding: 0;
}

.main--example {
  display: flex;

  & > div {
    width: 50%;
  }

  .highlight {
    border-radius: unset;
  }
}

.code {
  background-color: #999;

  .highlight {
    border-radius: unset;
    margin-bottom: 15px;
  }

  .language-html {
    margin-top: 15px;

    .highlight {
      margin-bottom: unset;
      margin-top: unset;
    }
  }
}

.example {
  background-color: white;
  padding: 1em;
}
