body {
  background-color: #e1e4e4;
  font-family: Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 0.015em;
  padding: 1.5rem;
}

a {
  border-bottom: 1px solid transparent;
  color: #0000ff;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #0000ff;
  }
}

h1 {
  font-size: 2.25rem;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 1.75rem;
}

p {
  max-width: 60ch;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
