body {
  background-color: #fdfdfd;
  font-family: Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0.015em;
  line-height: 1.3;
  padding-bottom: 6rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}

a {
  border-bottom: 1px solid transparent;
  color: #0000ff;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #0000ff;
  }
}

blockquote {
  background-color: #f9f9f9;
  border-left: 0.25rem solid #dddddd;
  color: #555555;
  margin-bottom: $paragraph-space;
  margin-left: 0;
  margin-right: 0;
  max-width: $paragraph-length;
  padding: 0.5rem 1rem;
}

code {
  background-color: #dddddd;
  border-radius: 0.25rem;
  font-family: monospace;
  font-size: 0.9em;
  padding: 2px;

  span {
    color: orangered;
  }
}

em {
  font-style: italic;
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.02em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: $paragraph-space;
}

iframe {
  height: 400px !important;
  margin-bottom: $paragraph-space;
}

p {
  max-width: $paragraph-length;

  &:not(:last-child) {
    margin-bottom: $paragraph-space;
  }
}

pre {
  white-space: pre-wrap;
}

strong {
  font-weight: bold;
}

ul {
  list-style-position: outside;
  list-style-type: "– ";
  margin-left: $indent-space;
  padding-left: 0;
  max-width: $paragraph-length * 0.825;
}
