.page-title {
  margin-bottom: $paragraph-space;
}

.page-date {
  margin-bottom: $section-space;
}

.page-content {
  h2 {
    margin-bottom: $paragraph-space;
    margin-top: $section-space;

    &:first-of-type {
      margin-top: unset;
    }
  }
}
