.page-title {
  margin-bottom: $paragraph-space;
}

.page-date {
  margin-bottom: $section-space;
}

.page-content {
  h2 {
    margin-bottom: $paragraph-space;
    margin-top: $section-space;

    &:first-of-type {
      margin-top: unset;
    }
  }
}

.highlighter-rouge {
  &.language-css {
    code {
      background-color: #fff6c9;
    }

    pre {
      background-color: #fff6c9;
      border-left: solid 2px orange;
    }
  }

  &.language-html {
    // same thing but blue
    code {
      background-color: #c9f7ff;
    }

    pre {
      background-color: #c9f7ff;
      border-left: solid 2px blue;
    }
  }
}
