<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="description" content=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/base.css">
  </head>
  <body>
    <nav>
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/sessions">Sessions</a>
      <a href="{{ site.baseurl }}/lectures">Lectures</a>
      <a href="{{ site.baseurl }}/project">Project</a>
      <a href="{{ site.baseurl }}/library">Library</a>
      <a href="{{ site.baseurl }}/references">References</a>
      <a href="{{ site.baseurl }}/students">Students</a>
      <a href="{{ site.baseurl }}/colophon">Colophon</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
  </body>
</html>
