<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="description" content=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/reset.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/tags.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/base.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/nav.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/buttons.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/pixel.css">
  </head>
  <body>
    <nav class="nav">
      <div class="nav__left">
        <span class="nav__link-span {% if page.url == '/' %}active{% endif %}">
          <a class="nav__link" href="{{ site.baseurl }}/">
            Core 1: Interaction
          </a>
        </span>
      </div>
      <div class="nav__right">
        <span class="nav__link-span {% if page.path contains 'sessions' %}active{% endif %}">
          <a class="nav__link" href="{{ site.baseurl }}/sessions">
            Sessions
          </a>
        </span>
        <span class="nav__link-span {% if page.path contains 'topics' %}active{% endif %}">
          <a class="nav__link" href="{{ site.baseurl }}/lectures">
            Lectures
          </a>
        </span>
        <span class="nav__link-span {% if page.url == '/project/' %}active{% endif %}">
          <a class="nav__link" href="{{ site.baseurl }}/project">
            Project
          </a>
        </span>
        <span class="nav__link-span {% if page.url == '/library/' %}active{% endif %}">
          <a class="nav__link" href="{{ site.baseurl }}/library">
            Library
          </a>
        </span>
        <span class="nav__link-span {% if page.url == '/references/' %}active{% endif %}">
          <a class="nav__link" href="{{ site.baseurl }}/references">
            References
          </a>
        </span>
        <span class="nav__link-span {% if page.url == '/students/' %}active{% endif %}">
          <a class="nav__link" href="{{ site.baseurl }}/students">
            Students
          </a>
        </span>
        <span class="nav__link-span {% if page.url == '/colophon/' %}active{% endif %}">
          <a class="nav__link" href="{{ site.baseurl }}/colophon">
            Colophon
          </a>
        </span>
      </div>
    </nav>
    <main class="main">
      <h1>{{ page.title }}</h1>
      <hr>
      {{ content }}
    </main>
    <div class="top-button js-top-button">
      ↑
    </div>
    <div class="pixel-button js-pixel-button">
      *
    </div>
    <div class="css-button js-css-button">
      CSS
    </div>
    <script src="{{ site.baseurl }}/js/top_button.js"></script>
    <script src="{{ site.baseurl }}/js/pixel.js"></script>
    <script src="{{ site.baseurl }}/js/css_button.js"></script>
  </body>
</html>
