<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- <meta name="description" content=""> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/base.css">
  </head>
  <body>
    <nav>
      <div class="nav__masthead">
        <span class="nav__title">{{ site.title }}</span>
        <span class="nav__date">Fall 2023</span>
      </div>
      <div class="nav__links">
        <a class="nav__link {% if page.url == '/' %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
        <a class="nav__link {% if page.url == '/sessions/' %}active{% endif %}"
          href="{{ site.baseurl }}/sessions">Sessions</a>
        <a class="nav__link {% if page.url == '/lectures/' %}active{% endif %}"
          href="{{ site.baseurl }}/lectures">Lectures</a>
        <a class="nav__link {% if page.url == '/project/' %}active{% endif %}" href="{{ site.baseurl }}/project">Project</a>
        <a class="nav__link {% if page.url == '/library/' %}active{% endif %}" href="{{ site.baseurl }}/library">Library</a>
        <a class="nav__link {% if page.url == '/references/' %}active{% endif %}"
          href="{{ site.baseurl }}/references">References</a>
        <a class="nav__link {% if page.url == '/students/' %}active{% endif %}"
          href="{{ site.baseurl }}/students">Students</a>
        <a class="nav__link {% if page.url == '/colophon/' %}active{% endif %}"
          href="{{ site.baseurl }}/colophon">Colophon</a>
      </div>
    </nav>
    <main class="main">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </main>
  </body>
</html>
