<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body class="post">
    {% include nav.html %}

    <h1 class="page-title">
      {{ page.title }}
    </h1>
    <h3 class="page-date">
      {{ page.date | date: "%B %e, %Y" }}
    </h3>

    {% include on_page_nav.html %}

    <main class="page-content">
      {{ content }}
    </main>

    <script src="{{ "/assets/js/dinkus.js" | relative_url }}"></script>
  </body>
</html>
